<!DOCTYPE html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="dark.css">
</head>

<h1 style="font-family:Fira Code;" >Hello there. This is team 13 API</h1>

<p style="font-family:Fira Code;">Our endpoints are:</p>

<br>

<ul style="font-family:Fira Code; line-height:1.4;">
    <li>
        /properties/
        <ul>
            <li><b>GET</b> : returns all properties in the database</li>
            <li><b>POST</b>: adds a property to the database</li>
        </ul>
    </li>
    <li>
        /properties/id/{externalId}
        <ul>
            <li><b>GET</b>:  returns the property</li>
            <li><b>PUT</b>: updates the property </li>
            <li><b>DELETE</b>: deletes the property</li>
        </ul>
    </li>
    <li>
        /properties/city/{cityName} & {orderBY} & {ascOrDesc} & {minPrice} & {maxPrice} & {pets} & {areaSqm} & {minArea} & {maxArea} & {sqmBudget}
        <ul>
            <b>GET</b> : given a city returns all properties that match the query parameters from the url
            <li> Order by : order by this attribute example : rent</li>
            <li> The ordering : Ascending or Descending </li>
            <li> Rent price range: min, max or both </li>
            <li> Pets: if pets are allowed </li>
            <li> Area : min, max or both </li>
            <li> Square Meter budget: max rent price per square meter maxPrice/maxArea </li>
            <li> N : number of properties wanted to return Default is 10 </li>
        </ul>
    </li>
    <li>
        /properties/location/{longitude} & {latitude}
        <ul>
            <li><b>GET</b> : returns a list of all properties that match the longitude and latitude </li>
            <li><b>PUT</b> : updates all the properties that match the longitude and latitude </li>
            <li><b>DELETE</b> : deletes all the properties that match the longitude and latitude </li>
        </ul>
    </li>
    <li>
        /properties/city/stats/{cityName}
        <ul>
            <li><b>GET</b>: returns the stats of a given city</li>
        </ul>
    </li>
</ul>